.navbar-lower {
    /* Text and nav properties */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #222831;
    opacity: 0.85;
    color: #77989a;
    /* gap: 5px; */
    top: 5px;
    position: fixed;
    width: 60%;
    z-index: 100;
   }

   .nav-links-lower a {
    color: rgb(168, 167, 167);
   }

   /* LOGO */
   .logo-lower {
    /* font-size: 10px; */
    width: 15%;
        /* height: 20vw;
    transform: rotate(90deg); */
   }
   /* NAVBAR MENU */
   .menu-lower {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu-lower li:hover {
    background-color: #747b86;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu-lower li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services-lower {
    position: relative; 
   }
   .dropdown-lower {
    background-color: #222831;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 5px;
    top: 35px;
   }
   .dropdown-lower li + li {
    margin-top: 10px;
   }
   .dropdown-lower li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown-lower li:hover {
    background-color: #747b86;
   }
   .services-lower:hover .dropdown {
    display: block;
   }

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger-lower {
    display: none;
    font-size: 24px;
    user-select: none;
   }
   /* APPLYING MEDIA QUERIES */
   @media (max-width: 768px) {
   .menu-lower { 
    display:none;
    position: absolute;
    background-color:#747b86;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
   }
   .menu-lower li:hover {
    display: inline-block;
    background-color:#747b86;
    transition: 0.3s ease;
   }
   .menu-lower li + li {
    margin-top: 12px;
   }
   input[type=checkbox]:checked ~ .menu{
    display: block;
   }
   .hamburger-lower {
    display: block;
   }
   .dropdown-lower {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
   }
   .dropdown-lower li:hover {
    background-color: #747b86;
   }
}